@import "fonts";
@import "reset";
@import "mixins";


#amenities{
  .amenities-container {

    .amenities-item {
      margin:70px 0 30px 0;

      .image-container{
        width:100%;
        height:150px;
        img{
          display: block;
          position: absolute;
          margin:15px auto;
          opacity:1;

          -webkit-transition: opacity .2s;
          -moz-transition: opacity .2s;
          -ms-transition: opacity .2s;
          -o-transition: opacity .2s;
          transition: opacity .2s;
          left: 0;
          right:0;
          &.onhover{
            opacity: 0;
          }
        }
      }


      &:hover{
        &:hover img{
          opacity: 0;
          &.onhover{
            opacity: 1;
          }
        }
      }


      p {
        margin:40px 0;

        @media only screen and (min-width: 320px) and (max-width: 479px){
          margin:20px 0;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          margin:20px 0;
        }
        /*//tablets and other mobile devices*/
        @media only screen and (min-width: 768px) and (max-width: 991px){
          margin:20px 0;
        }
        /*//iphone and other mobile devices (landscape)*/
        @media only screen and (min-width: 992px)and (max-width: 1199px) {
          margin:20px 0;
        }

      }


      @media only screen and (min-width: 320px) and (max-width: 479px){
        margin:50px 0 10px 0;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        margin:50px 0 10px 0;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        margin:50px 0 10px 0;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        margin:50px 0 10px 0;
      }

    }
  }
  .gallery {
    .mini-image {
      width:20%;
      height:180px;
      float: left;
    }
  }
}