@import "fonts";
@import "reset";
@import "mixins";


#contact-us{
  .form-container {
    text-align: center;

    input,textarea{
      border:2px solid $normal-gray-bg;
      padding:10px 15px;
      background-color: transparent;
      width:100%;
      margin: 15px 0;

      @include font-sinkin-sans(400,normal);

      font-size:16pt;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:12px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:12px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size:14px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size:14px;
      }
    }
    .contact-button{
      padding:10px 15px;
      @include font-museo();
      background-color: $normal-gray-bg;
      border:0;
      color: #ffffff;
      font-size:16pt;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:12px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:12px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size:14px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size:14px;
      }

    }
  }


}