@import "fonts";
@import "reset";
@import "mixins";


#faqs{

  .faqs-container{

    h1{
      @include font-museo();
      font-size:40pt;
      color:#a5bdb0;
      text-align: center;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:40px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:40px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size:40px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size:40px;
      }

    }
    p{
      @include font-sinkin-sans(400,normal);
      font-size:14pt;
      margin:30px 0;
      text-align: center;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:14px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:14px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size:14px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size:14px;
      }
    }
    .panel{
      border:0;
      margin-top:15px;
      .panel-heading{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius:  0;



        padding: 15px;

        position: relative;
        h4{
          @include font-sinkin-sans(400,normal);
          font-size: 16pt;
          text-align: center;
          width:90%;
          margin:0 auto;
          @media only screen and (min-width: 320px) and (max-width: 479px){
            font-size:12px;
            width:85%;
          }
          @media only screen and (min-width: 480px) and (max-width: 767px){
            font-size:12px;
            width:85%;
          }
          /*//tablets and other mobile devices*/
          @media only screen and (min-width: 768px) and (max-width: 991px){
            font-size:12px;
            width:85%;
          }
          /*//iphone and other mobile devices (landscape)*/
          @media only screen and (min-width: 992px)and (max-width: 1199px) {
            font-size:12px;
            width:85%;
          }
        }
        &>img {
          position: absolute;
          right: 15px;
          top: 40%;
          @media only screen and (min-width: 320px) and (max-width: 479px){
            top: 35%;
          }
          @media only screen and (min-width: 480px) and (max-width: 767px){
            top: 35%;
          }
          /*//tablets and other mobile devices*/
          @media only screen and (min-width: 768px) and (max-width: 991px){
            top: 35%;
          }
          /*//iphone and other mobile devices (landscape)*/
          @media only screen and (min-width: 992px)and (max-width: 1199px) {
            top: 35%;
          }
        }

      }
      a {
        display: block;
        background-color:#a5bdb0;
        color:#ffffff;
        border: 2px solid #a5bdb0;

        -webkit-transition: background-color .2s,color .2s;
        -moz-transition: background-color .2s,color .2s;
        -ms-transition: background-color .2s,color .2s;
        -o-transition: background-color .2s,color .2s;
        transition: background-color .2s,color .2s;

        img {
          opacity:0;
          -webkit-transition: opacity .2s;
          -moz-transition: opacity .2s;
          -ms-transition: opacity .2s;
          -o-transition: opacity .2s;
          transition: opacity .2s;
        }
        &.collapsed{
          background-color: #ffffff;
          color: $normal-gray-bg;
          img{
            opacity:1;
          }
        }
      }
      .panel-collapse {
        background-color: $normal-light-blue-bg;
        .panel-body{
          border-top-color: $normal-light-blue-bg;
          @include font-sinkin-sans(400,normal);
          font-size:14pt;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius:  0;
          text-align: center;

          @media only screen and (min-width: 320px) and (max-width: 479px){
            font-size:12px;
          }
          @media only screen and (min-width: 480px) and (max-width: 767px){
            font-size:12px;
          }
          /*//tablets and other mobile devices*/
          @media only screen and (min-width: 768px) and (max-width: 991px){
            font-size:12px;
          }
          /*//iphone and other mobile devices (landscape)*/
          @media only screen and (min-width: 992px)and (max-width: 1199px) {
            font-size:12px;
          }
        }
      }
    }

  }
  .get-in-touch {
    text-align: center;
    background-color: $normal-gray-bg;
    @include padding-top-bottom(45pt,45pt);
    color:#ffffff;
    p{
      @include font-sinkin-sans(500,normal);
      font-size:16pt;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:12px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:12px;
      }
    }
    h4{
      @include font-museo();
      font-size:32pt;
      margin:30px 0;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:28px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:28px;
      }
    }
    a{
      padding:10px 15px;
      @include font-museo();
      font-size:16pt;
      color:#ffffff;
      background-color:#b6a268;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:12px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:12px;
      }
    }

    @media only screen and (min-width: 320px) and (max-width: 479px){
      padding:30px 15px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      padding:30px 15px;
    }
    /*//tablets and other mobile devices*/
    @media only screen and (min-width: 768px) and (max-width: 991px){
      padding:30px 15px;
    }
    /*//iphone and other mobile devices (landscape)*/
    @media only screen and (min-width: 992px)and (max-width: 1199px) {
      padding:30px 15px;
    }
  }
}