$normal-font-color:#414142;
$normal-gray-bg:#404041;
$normal-yellow-bg:#b6a268;
$normal-light-blue-bg:#a5bdb0;
@font-face {
  font-family: 'museo';
  src: url(../../assets/fonts/Museo/Museo-500.otf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-100Thin.otf) format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-100ThinItalic.otf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-200XLight.otf) format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-200XLightItalic.otf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-300Light.otf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-300LightItalic.otf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-400Italic.otf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-400Regular.otf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-500Medium.otf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-500MediumItalic.otf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "sinkin-sans";
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-600SemiBold.otf) format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-600SemiBoldItali.otf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-700Bold.otf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-700BoldItalic.otf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-800Black.otf) format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-800BlackItalic.otf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-900XBlack.otf) format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'sinkin-sans';
  src: url(../../assets/fonts/Sinkin%20Sans/SinkinSans-900XBlackItalic.otf) format('truetype');
  font-weight: 900;
  font-style: italic;
}