@import "fonts";
@import "reset";
@import "mixins";

footer  {
  .stay-connected {
    background-image: url("../images/textures/bg-green.jpg");
    @include padding-top-bottom(75px,75px);
    text-align: center;

    h3 {
      @include  font-museo();
      text-align: center;
      color:$normal-font-color;
      font-size:32pt;
      padding-bottom:20px;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:26px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:32px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size:32px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size:32px;
      }
    }
    p{
      @include font-sinkin-sans(500,normal);
      text-align: center;
      color:#ffffff;
      font-size: 16pt;
      width:80%;
      margin: 0 auto 25px;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:12px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size: 16px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size: 16px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size: 16px;
      }
    }
    input{
      @include font-sinkin-sans(400,normal);
      padding:10px;
      margin:0 5px 0 5px;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        display: block;
        margin:15px auto;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        display: block;
        margin:15px auto;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        width:20%;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        width:20%;
      }
    }
    button{
      border:0;
      padding:11px 15px;
      color:#ffffff;
      font-size:16px;
      background-color:$normal-gray-bg;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        display: block;
        margin:15px auto;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        margin-top:15px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        margin-top:15px;
      }
    }
  }
  .footer-address {
    background-color:$normal-gray-bg;
    @include font-sinkin-sans(300,normal);
    @include padding-top-bottom(25px,25px);
    text-align: center;
    color:#ffffff;
    .social-media{
      ul {
        li{
          display: inline-block;
          list-style-type: none;
          @include margin-left-right(12px,12px);
        }
      }
    }
    .info {
      margin-top:15px;
      ul{
        li{
          @include font-lato();
          font-size:10pt;
          display: inline-block;
          list-style-type: none;
          padding:0 10px;
          border-right:1px solid #ffffff;

          @media only screen and (min-width: 320px) and (max-width: 479px){
            font-size:10px;
          }
          @media only screen and (min-width: 480px) and (max-width: 767px){
            font-size:10px;
          }
          /*//tablets and other mobile devices*/
          @media only screen and (min-width: 768px) and (max-width: 991px){
            font-size:10px;
          }
          /*//iphone and other mobile devices (landscape)*/
          @media only screen and (min-width: 992px)and (max-width: 1199px) {
            font-size:10px;
          }
        }
        li:last-child{
          border:0;
        }
      }
      p{
        margin-top:15px;
        font-size:10pt;

        @media only screen and (min-width: 320px) and (max-width: 479px){
          font-size:10px;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          font-size:10px;
        }
        /*//tablets and other mobile devices*/
        @media only screen and (min-width: 768px) and (max-width: 991px){
          font-size:10px;
        }
        /*//iphone and other mobile devices (landscape)*/
        @media only screen and (min-width: 992px)and (max-width: 1199px) {
          font-size:10px;
        }
      }
    }
    .faq-footer {
      margin:15px 0 0 0;
      ul {
        li{
          display: inline-block;
          margin:0 5px;
          a{
            img{
              width:50px;
            }
          }
        }
      }
    }
  }

}
