@import "fonts";
@import "reset";
@import "mixins";


#gallery{
  .gallery-container {
    .gallery-item{
      .mini-image{
        width:100%;
        height:268px;
      }
      margin:30px 0 0 0;
    }
  }
}