@import "fonts";
@import "reset";
@import "mixins";

.clear{
  clear: both;
}
.banner {
  height:320px;
  z-index: -1;
  position: relative;

  @media only screen and (min-width: 320px) and (max-width: 479px){
    height:250px;
  }
  @media only screen and (min-width: 480px) and (max-width: 767px){
    height: 228px;
  }
  &.subpage {

    height:187pt;

    .brown-container {
      width:100%;
      height:100%;
      position: absolute;
      background-color: #b6a268;
      opacity: .25;
      z-index:1;
    }

    @media only screen and (min-width: 320px) and (max-width: 479px){
      height:150px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      height: 150px;
    }
  }
}


.subpage-container{
  @include padding-top-bottom(35pt,35pt);
  background-color:#ffffff;

  h1{
    @include font-museo();
    font-size: 40pt;
    color: $normal-light-blue-bg;
    text-align: center;
    margin-bottom:30px;

    @media only screen and (min-width: 320px) and (max-width: 479px){
      font-size:28px;
      margin-bottom:15px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      font-size:28px;
      margin-bottom:15px;
    }
    /*//tablets and other mobile devices*/
    @media only screen and (min-width: 768px) and (max-width: 991px){
      font-size:32px;
      margin-bottom:15px;
    }
    /*//iphone and other mobile devices (landscape)*/
    @media only screen and (min-width: 992px)and (max-width: 1199px) {
      font-size:32px;
      margin-bottom:15px;
    }

  }
  p{
    @include font-sinkin-sans(400,normal);
    font-size: 14pt;
    text-align: center;

    @media only screen and (min-width: 320px) and (max-width: 479px){
      font-size: 14px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      font-size: 14px;
    }
    /*//tablets and other mobile devices*/
    @media only screen and (min-width: 768px) and (max-width: 991px){
      font-size: 14px;
    }
    /*//iphone and other mobile devices (landscape)*/
    @media only screen and (min-width: 992px)and (max-width: 1199px) {
      font-size: 14px;
    }
  }

}

.below-highlited-feature{
  background-color: #77777b;
  @include padding-top-bottom(80px,80px);
  text-align: center;
  @media only screen and (min-width: 320px) and (max-width: 479px){
    @include padding-top-bottom(40px,40px);
  }
  @media only screen and (min-width: 480px) and (max-width: 767px){
    @include padding-top-bottom(40px,40px);
  }
  p{
    @include  font-sinkin-sans(500,normal);
    font-size: 16pt;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    @media only screen and (min-width: 320px) and (max-width: 479px){
      width: 90%;
      font-size: 14px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      width: 90%;
      font-size: 14px;
    }
  }
  h3{
    @include  font-museo();
    font-size:32pt;
    @include padding-top-bottom(32px,45px);
    color:#ffffff;
    @media only screen and (min-width: 320px) and (max-width: 479px){
      font-size: 26px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      font-size: 26px;
    }
  }

  img{
    margin-bottom:15px;
  }

  .hf-button{
    background-color:#a4bdb0;
    padding:10px 10px 10px 10px;
    @include  font-museo();
    font-size:16pt;
    color:#ffffff;
    border:0;
    width: 240px;
    height: 60px;
    display: block;
    margin: 0 auto;
    span{
      width:100%;
      height:100%;
      display: block;
      padding-top: 2%;
      border:1px solid #ffffff;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        padding-top: 4%;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        padding-top: 4%;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        padding-top: 4%;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        padding-top: 4%;
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 479px){
      margin:15px auto;
      font-size:16px;

    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      margin:15px auto;

      font-size:16px;
    }
    /*//tablets and other mobile devices*/
    @media only screen and (min-width: 768px) and (max-width: 991px){
      width:220px;

      font-size:16px;
    }
    /*//iphone and other mobile devices (landscape)*/
    @media only screen and (min-width: 992px)and (max-width: 1199px) {
      width:220px;
      font-size:16px;
    }

    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;

    &:hover{
      background-color: #B6A268;
    }
  }
}

.lb-dataContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height:100%;
  .lb-data{
    .lb-details{
      float: inherit;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0,0,0,.7);
      padding: 15px;
      .lb-number{
        display: none !important;
      }
      .lb-caption{
        font-size: 18px;
        @include font-museo();
      }
    }
    .lb-closeContainer{
      .lb-close{
        position: absolute;
        top: -25px;
        right: -25px;
        border-radius: 100%;
        background-color: white;
        width: 40px;
        height: 40px;
        text-align: center;
        background-position: center;
        opacity: 1;

        @media only screen and (min-width: 320px) and (max-width: 479px){
          background-position: 50%;
          background-size: 50%;
          width: 30px;
          height: 30px;
          top: -5px;
          right: -5px;
          z-index: 1;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          background-position: 50%;
          background-size: 50%;
          width: 30px;
          height: 30px;
          top: -5px;
          right: -5px;
          z-index: 1;
        }
        /*//tablets and other mobile devices*/
        @media only screen and (min-width: 768px) and (max-width: 991px){
          background-position: 50%;
          background-size: 50%;
          width: 30px;
          height: 30px;
          top: -5px;
          right: -5px;
          z-index: 1;
        }
        /*//iphone and other mobile devices (landscape)*/
        @media only screen and (min-width: 992px)and (max-width: 1199px) {
          background-position: 50%;
          background-size: 50%;
          width: 30px;
          height: 30px;
          top: -5px;
          right: -5px;
          z-index: 1;
        }

      }
    }
  }
}
.padding-left-0 {
  padding-left:0;
  @media only screen and (min-width: 320px) and (max-width: 479px){
    padding:0;
  }
  @media only screen and (min-width: 480px) and (max-width: 767px){
    padding:0;
  }
  ///*//tablets and other mobile devices*/
  //@media only screen and (min-width: 768px) and (max-width: 991px){
  //  padding-left:15px;
  //}
  ///*//iphone and other mobile devices (landscape)*/
  //@media only screen and (min-width: 992px)and (max-width: 1199px) {
  //  padding-left:15px;
  //}
}
.padding-right-0{
  padding-right:0;

  @media only screen and (min-width: 320px) and (max-width: 479px){
    padding:0;
  }
  @media only screen and (min-width: 480px) and (max-width: 767px){
    padding:0;
  }
  ///*//tablets and other mobile devices*/
  //@media only screen and (min-width: 768px) and (max-width: 991px){
  //  padding-right:15px;
  //}
  ///*//iphone and other mobile devices (landscape)*/
  //@media only screen and (min-width: 992px)and (max-width: 1199px) {
  //  padding-right:15px;
  //}
}
