@import "fonts";
@import "reset";
@import "mixins";


$breakpoint-collapse:767px;

.header {

  .social-media {
    @include padding-top-bottom(7px,7px);
    background-color:#b6a268;
    span {
      @include font-sinkin-sans(500,normal);
      color:#ffffff;
      font-size:11pt;
      letter-spacing: 1.2px;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:11px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:11px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size:11px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size:11px;
      }
    }
    ul {
      float: right;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        float: inherit;
      }
    }
    ul li {
      display: inline-block;
      list-style-type: none;
      @include margin-left-right(7px,7px);
      img{
        height:20px;
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 479px){
      text-align: center;
    }

  }

  .logo{
    background-image: url(../images/textures/woodgrain_texture.jpg);
    @include padding-top-bottom(15px,20px);
    img{
      display: block;
      margin:0 auto;
    }
    nav {

      margin: 15px 0 0 0;
      min-height: inherit;
      background-color: transparent;
      border: 0;
      .navbar-toggle {
        display: block;
        background-color:$normal-gray-bg;
        &:hover{
          background-color:$normal-gray-bg;
        }
        &:focus{
          background-color:$normal-gray-bg;
        }
        &:active{
          background-color:$normal-gray-bg;
        }
        span{
          background-color: #ffffff;
        }
      }
      span.label{
        margin-top: 15px;
        display: inline-block;
        margin-left: 15px;
        @include font-museo();
        font-size:18px;
        color:$normal-font-color;
      }
      ul {
        display: block;
        margin:0 auto;
        float: inherit;
        text-align: center;
        li {
          font-family: 'museo', 'sans-serif';
          font-weight: 500;
          float: inherit;
          display: inline-block;
          a {
            font-size:13pt;
            @include padding-top-bottom(0, 0);
            color: $normal-font-color;
            @media(max-width: $breakpoint-collapse) {
              color: #ffffff;
            }
            @media only screen and (min-width: 320px) and (max-width: 479px){
              font-size:13px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px){
              font-size:13px;
            }
            /*//tablets and other mobile devices*/
            @media only screen and (min-width: 768px) and (max-width: 991px){
              font-size:13px;
            }
            /*//iphone and other mobile devices (landscape)*/
            @media only screen and (min-width: 992px)and (max-width: 1199px) {
              font-size:13px;
            }
          }

          &.active {
            & > a {
              color: #555;
              background-color: transparent;
              @media(max-width: $breakpoint-collapse) {
                color: #b6b6b7;
              }
            }
            & > a:hover {
              color: #555;
              background-color: transparent;
              @media(max-width: $breakpoint-collapse) {
                color: #b6b6b7;
              }
            }
          }
          @media(max-width: $breakpoint-collapse) {
            display: block;
            padding:5px;
          }

        }
      }
      .navbar-collapse {
        @media(max-width: $breakpoint-collapse) {
          background-color: $normal-gray-bg;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-collapse) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    border:0;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
@media (min-width: 592px){
  .navbar-header {
    display: none;
  }
}