@import "fonts";
@import "reset";
@import "mixins";


#homepage{
  h1{
   @include  font-museo();
  }
  p{
    @include  font-museo();
  }
  .flex-control-nav{
    display: none;
  }
  .flex-direction-nav{
    display: none;
  }
  .flexslider{
    height:320px;
    @media only screen and (min-width: 320px) and (max-width: 479px){
      height:250px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      height:250px;
    }
    ul{
      li{
        height:320px !important;
        position: relative !important;
        z-index:-2 !important;
      }
    }
  }
  .bottom-banner{
    background-image: url("../images/textures/bg-green.jpg");
    @include padding-top-bottom(75px,75px);
    text-align: center;

    @media only screen and (min-width: 320px) and (max-width: 479px){
      @include padding-top-bottom(35px,35px);
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      @include padding-top-bottom(35px,35px);
    }

    h1 {
      text-align: center;
      color:$normal-font-color;
      font-size:32pt;
      padding-bottom:20px;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:26px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:28px;
      }
    }
    p{
      text-align: center;
      color:#ffffff;
      font-size: 16pt;
      width:54%;
      margin:15px auto;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:14px;
        width:100%;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:16px;
        width:90%;
      }
    }
    a.signup-button{
      padding:8px 15px 8px 15px ;
      background-color: #404041;
      @include  font-museo();
      color: #ffffff;
      border:0;
      font-size:16pt;

      letter-spacing: 1.5px;

      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size:14px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size:14px;
      }
    }
  }
  .highlighted-features {

    background-color:#ffffff;
    z-index: 1;
    position: relative;
    @include padding-top-bottom(50px,50px);
    .container {
      text-align: center;
      h3{
        @include  font-museo();
        font-size:26pt;
        text-align: center;
        padding-bottom:40px;
      }
      .feature-item{
        .head-image{
          height:170px;
          width:100%;
          margin:0 auto;
          -webkit-background-size: 300px auto;
          background-size: 400px auto;

          -webkit-transition: background-size .5s ease-in;
          -moz-transition: background-size .5s ease-in;
          -ms-transition: background-size .5s ease-in;
          -o-transition: background-size .5s ease-in;
          transition: background-size .5s ease-in;
          
          /*//tablets and other mobile devices*/
          @media only screen and (min-width: 768px) and (max-width: 991px){
            width:224px;
          }
          /*//iphone and other mobile devices (landscape)*/
          @media only screen and (min-width: 992px)and (max-width: 1199px) {
            width:224px;
          }
          /*//iphone and other mobile devices (landscape)*/
          &:hover {
            -webkit-background-size: 500px;
            background-size: 500px;
          }
        }
        .detail{
          .title{
            @include  font-museo();
            @include padding-top-bottom(15px,15px);
            font-size:18pt;
          }
          p{
            @include font-sinkin-sans(400,normal);
            font-size:14pt;
            @media only screen and (min-width: 320px) and (max-width: 479px){
              margin-bottom:15px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px){
              margin-bottom:15px;
            }
          }
        }
        button {

        }
      }

    }
    
  }

  .address {
    .left {
      
      @include padding-top-bottom(50px,20px);
      background-image: url(../images/textures/woodgrain_texture.jpg);
      text-align: center;
      h3{
        @include  font-museo();
        font-size:26px;
        margin-bottom:15px;
        @media only screen and (min-width: 320px) and (max-width: 479px){
          font-size:22px;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          font-size: 22px;
        }
      }
      p{
        @include  font-sinkin-sans(400,normal);
        font-size:18px;
        width:54%;
        margin:0 auto;
        @media only screen and (min-width: 320px) and (max-width: 479px){
          font-size:14px;
          width:100%;
          padding:0 15px;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          font-size:18px;
          width:90%;
          padding:0 15px;
        }
        @media screen and (min-width:995px) and (max-width:1516px) {
          width:90%;
        }
      }
      img{

        margin: 15px auto;
      }
      @media screen and (min-width:995px) {
        height: 469px;
      }
    }
    .right{
      #map {
        height: 469px;
        width: 100%;
        @media only screen and (min-width: 320px) and (max-width: 479px){
           height: 328px;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          height: 228px;
        }
      }
      span.label{
        padding:15px 10px;
        background-color:$normal-yellow-bg;
        color:#ffffff;
        @include font-lato();
        font-size:18px;
        position: absolute;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 367px;
        right: 0;
        bottom: 20px;
        border-radius: 0;

        @media only screen and (min-width: 320px) and (max-width: 479px){
          font-size:12px;
          padding:10px 5px;
          width:305px;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          font-size:12px;
          padding:10px 5px;
          width:305px;
        }
      }
    }
  }
  .below-address-gallery {
    .mini-image {
      width:20%;
      height:180px;
      float: left;
    }
  }
}