@mixin padding-top-bottom($top,$bottom){
  padding-top:$top;
  padding-bottom:$bottom;
}

@mixin margin-top-bottom($top,$bottom){
  margin-top:$top;
  margin-bottom:$bottom;
}
@mixin margin-left-right($left,$right){
  margin-left:$left;
  margin-right: $right;
}
@mixin font-museo(){
  font-family: museo,'sans-serif';
  font-weight: 500;
}
@mixin font-sinkin-sans($weight,$style){
  font-family: 'sinkin-sans','sans-serif';
  font-weight: $weight;
  font-style: $style;
}

@mixin font-lato(){
  font-family: 'Lato', sans-serif;
}