@import "fonts";
@import "reset";
@import "mixins";


#neighborhood{
  .neighborhood-container {

    p{
      text-align: left;
    }
  }
  .neighborhood-content {
    background-image: url("../images/textures/bg-green.jpg");
    .banner {
      z-index:1;
      height:520px;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        height:250px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        height:250px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        height:250px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        height:420px;
      }
    }
    .info-side{
      padding:30px;
      h4{
        @include font-sinkin-sans(400,normal);
        font-size: 20pt;
        margin-bottom:15px;
        color:#ffffff;

        @media only screen and (min-width: 320px) and (max-width: 479px){
          font-size:20px;
          margin-bottom:15px;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          font-size:20px;
          margin-bottom:15px;
        }
        /*//tablets and other mobile devices*/
        @media only screen and (min-width: 768px) and (max-width: 991px){
          font-size:20px;
          margin-bottom:15px;
        }
        /*//iphone and other mobile devices (landscape)*/
        @media only screen and (min-width: 992px)and (max-width: 1199px) {
          font-size:20px;
          margin-bottom:15px;
        }

      }
      .parent-list {
        padding:0 0 0 25px;
        li {
          color:$normal-font-color;
          @include font-sinkin-sans(400,normal);
          font-size: 16pt;

          @media only screen and (min-width: 320px) and (max-width: 479px){
            font-size: 12px;
          }
          @media only screen and (min-width: 480px) and (max-width: 767px){
            font-size: 12px;
          }
          /*//tablets and other mobile devices*/
          @media only screen and (min-width: 768px) and (max-width: 991px){
            font-size: 14px;
          }
          /*//iphone and other mobile devices (landscape)*/
          @media only screen and (min-width: 992px)and (max-width: 1199px) {
            font-size: 14px;
          }

          ul{
            padding:0 0 15px 60px;

            @media only screen and (min-width: 320px) and (max-width: 479px){
              padding:0 0 15px 15px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px){
              padding:0 0 15px 15px;
            }
            /*//tablets and other mobile devices*/
            @media only screen and (min-width: 768px) and (max-width: 991px){
              padding:0 0 15px 15px;
            }
            /*//iphone and other mobile devices (landscape)*/
            @media only screen and (min-width: 992px)and (max-width: 1199px) {
              padding:0 0 15px 15px;
            }

            li {
              list-style-type: none;
            }
          }

          @media only screen and (min-width: 320px) and (max-width: 479px){
            font-size:16px;
          }
          @media only screen and (min-width: 480px) and (max-width: 767px){
            font-size:16px;
          }
          /*//tablets and other mobile devices*/
          @media only screen and (min-width: 768px) and (max-width: 991px){
            font-size:16px;
          }
          /*//iphone and other mobile devices (landscape)*/
          @media only screen and (min-width: 992px)and (max-width: 1199px) {
            font-size:16px;
          }



        }
      }
    }
  }
  .bottom-map{
    .info-container {
      @include font-lato();

      color: #ffffff;
      padding:15px 0;
      background-color: $normal-yellow-bg;
      text-align: center;
      width:350px;

      position: absolute;
      z-index: 1;
      top: 40%;
      left: 240px;

      font-size: 18px;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        font-size: 12px;

        bottom: 20px;
        top: auto;
        left: 0;
        right: 0;
        margin: auto;
        width: 280px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        font-size: 12px;

        bottom: 20px;
        top: auto;
        left: 0;
        right: 0;
        margin: auto;
        width: 280px;
      }
      /*//tablets and other mobile devices*/
      @media only screen and (min-width: 768px) and (max-width: 991px){
        font-size: 14px;

        bottom: 20px;
        top: auto;
        left: 0;
        right: 0;
        margin: auto;
        width: 320px;
      }
      /*//iphone and other mobile devices (landscape)*/
      @media only screen and (min-width: 992px)and (max-width: 1199px) {
        font-size:14px;

        bottom: 20px;
        top: auto;
        left: 0;
        right: 0;
        margin: auto;
        width: 320px;
      }
      span{
        font-weight: bold;
        font-size: 24px;

        @media only screen and (min-width: 320px) and (max-width: 479px){
          font-size: 16px;
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
          font-size: 16px;
        }
        /*//tablets and other mobile devices*/
        @media only screen and (min-width: 768px) and (max-width: 991px){
          font-size: 18px;
        }
        /*//iphone and other mobile devices (landscape)*/
        @media only screen and (min-width: 992px)and (max-width: 1199px) {
          font-size:18px;
        }
      }

    }
    #map {
      height: 350px;
      width: 100%;
      @media only screen and (min-width: 320px) and (max-width: 479px){
        height: 328px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px){
        height: 228px;
      }
    }
  }
  .short-content{
    margin-top:90px;

    @media only screen and (min-width: 320px) and (max-width: 479px){
      margin-top:auto;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){
      margin-top:auto;
    }
    /*//tablets and other mobile devices*/
    @media only screen and (min-width: 768px) and (max-width: 991px){
      margin-top:25px;
    }
    /*//iphone and other mobile devices (landscape)*/
    @media only screen and (min-width: 992px)and (max-width: 1199px) {
      margin-top:75px;
    }

  }
}